<h1>Space X Launches</h1>
<table class="launches">
  <tr>
    <th>Number</th>
    <th>Mission Patch</th>
    <th>Rocket Name</th>
    <th>Launch Success</th>
    <th>Land Success</th>
    <th>Details</th>
    <th>Links</th>
  </tr>
  <% @launches.each do |launch| %>
    <tr>
      <td><%= launch[:number] %></td>
      <td><%= image_tag launch[:mission_patch], height: 100 %></td>
      <td><%= launch[:rocket_name] %></td>
      <td><%= launch[:launch_success] %></td>
      <td><%= launch[:land_success] %></td>
      <td><%= launch[:details] %></td>
      <td>
        <%= link_to 'Video', launch[:video_link], target: '_blank' if launch[:video_link] %>
      </td>
    </tr>
  <% end %>
</table>
